<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>We need camera access to scan documents.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need permission to save exported images to your photo library.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to import documents and images.</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>This identifier will be used to deliver personalized ads to you.</string>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>LaunchBackgroundColor</string>
    </dict>
</dict>
</plist>
